@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  font-family: "Josefin Sans", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  background-color: hsl(240, 20%, 12%);
  background-image: url("assets/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 20vh;
  padding: 3rem 1.4rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content {
  max-width: 50rem;
  margin: 0 auto;
}

.header {
  color: hsl(0, 0%, 98%);
}

.logo {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
}

.create-task {
  margin-top: 2rem;
  padding: 1.4rem;
  font-size: 1.4rem;
  background: #25273c;
  border-radius: 0.6rem;
  display: flex;
}

.create-task__btn {
  background: none;
  border: none;
  color: hsl(234, 11%, 52%);
  font-family: "Josefin Sans", Avenir, Helvetica, Arial, sans-serif;
  cursor: text;
  height: 25px;
  width: 100%;
  text-align: left;
}

.new-task-input {
  background: none;
  border: none;
  font-size: 1.8rem;
  font-family: "Josefin Sans", Avenir, Helvetica, Arial, sans-serif;
  color: hsl(234, 39%, 85%);
  width: 100%;
}

.new-task-input:focus-visible {
  outline: none;
}

.task-list {
  margin: 1.6rem 0 0;
}

.task-item {
  padding: 1.4rem;
  font-size: 1.4rem;
  background: #25273c;
  color: hsl(234, 39%, 85%);
  border-bottom: 1px solid hsl(237, 14%, 26%);
  display: flex;
  align-items: center;
}

.task-item:first-child {
  border-radius: 0.6rem 0.6rem 0 0;
}

.task-count {
  padding: 1.4rem;
  font-size: 1.4rem;
  background: #25273c;
  color: hsl(234, 11%, 52%);
  display: flex;
  justify-content: space-between;

  border-radius: 0 0 0.6rem 0.6rem;
}

.task-count__clear-completed {
  font-size: 1.4rem;
  background: #25273c;
  color: hsl(234, 11%, 52%);
  font-family: "Josefin Sans", Avenir, Helvetica, Arial, sans-serif;
  border: none;
  cursor: pointer;
}

.task-filtering {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background: #25273c;
  padding: 1.4rem;
  border-radius: 0.6rem;
  margin-top: 2rem;
}

.filter {
  color: hsl(234, 11%, 52%);
  font-weight: 500;
  font-size: 1.6rem;
  font-family: "Josefin Sans", Avenir, Helvetica, Arial, sans-serif;
  background: none;
  border: none;
  cursor: pointer;
}

.filter[aria-pressed="true"] {
  color: hsl(220, 98%, 61%);
}

.visually-hidden {
  display: none;
}

.submit-icon {
  width: 20px;
  height: 20px;
}

.cancel-task,
.submit-task {
  background: none;
  border: none;
  cursor: pointer;
}

.cancel-task path,
.submit-task path {
  transition: all 0.2s;
}

.cancel-task:hover path {
  fill: #e74c3c;
}

.submit-task:hover path {
  stroke: #27ae60;
}

.circle__incomplete {
  width: 20px;
  height: 20px;
  background: none;
  border: 1px solid red;
  border-radius: 100%;
  margin-right: 1rem;
  cursor: pointer;
}

.circle__complete {
  width: 20px;
  height: 20px;
  background: green;
  border: 1px solid green;
  border-radius: 100%;
  margin-right: 1rem;
  cursor: pointer;
}
