@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Flex', sans-serif;
    color: #34495e;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 4fr;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/3;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-bottom: 4px solid #313A46;
}

#tasks {
    padding: 30px 20px;
}

#projects {
    background-color: #313A46;
    color: #b5bdc7;
    padding: 30px 20px;
}

#projects h2 {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.8rem;
}

#projects h3 {
    font-size: 1.2rem;
}

#createProjectForm input {
    margin-top: 10px;
    width: 100%;
    height: 35px;
    font-size: 1.2rem;
    border-radius: 6px;
    padding: 0 5px;
}

#createProjectForm button {
    background: #27ae60;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    color: #fff;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-top: 14px;
}

#tasks {
    background: #F9FBFE;
}